<div class="table-container">
    <table class="table is-narrow is-fullwidth has-valigned-cells">
        <thead>
            <tr>
                <th>{{ 'technology.name' | trans }}</th>
                <th>{{ 'technology.costs' | trans }}</th>
                <th class="has-text-centered"><span class="icon has-text-primary"><i class="fas fa-clock"></i></span></th>
                <th class="has-text-centered">  <span class="icon"><i class="fas fa-cogs has-text-primary"></i></span></th>
            </tr>
        </thead>
        <tbody>
            {% for technology in technologies %}
                {% set isTechnologyInConstruction = currentPlayer.isPlayerTechnologyInConstruction(technology) %}
                {% set isTechnologyCompleted = currentPlayer.isPlayerTechnologyCompleted(technology) %}
                <tr>
                    <td>
                        {{ technology.getName | trans }}
                    </td>
                    <td nowrap>
                        <span class="icon"><i class="fas fa-hammer has-text-primary"></i></span>
                        <span>{{ technology.getMetalCost | number }}</span><br>
                        <span class="icon"><i class="fas fa-gem has-text-primary"></i></span>
                        <span>{{ technology.getCrystalCost | number }}</span>
                    </td>
                    <td class="has-text-centered" nowrap>
                        {% if isTechnologyInConstruction %}
                            {{ currentPlayer.getPlayerTechnologyByTechnology(technology).getTicksLeft }} ({{ technology.getTicksToBuild }})
                        {% else %}
                            {{ technology.getTicksToBuild }}
                        {% endif %}
                    </td>
                    <td class="has-text-centered">
                        {% if isTechnologyInConstruction %}
                            {% set progress = currentPlayer.getPlayerTechnologyByTechnology(technology).calculateProgress() %}
                            <div class="progress-container" data-text="{{ progress }}%">
                                <progress class="progress is-primary" value="{{ progress }}" max="100"></progress>
                            </div>
                        {% elseif isTechnologyCompleted %}
                            <span class="icon"><i class="fas fa-check has-text-primary"></i></span>
                        {% else %}
                            <a class="button is-primary single-submit" data-identifier="{{ technology.getTechnologyId }}" data-action="{{ url('player.technology.build') }}">
                                <span class="icon"><i class="fas fa-cogs"></i></span>
                                <span>{{ 'technology.start' | trans }}</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>