<div class="table-container">
    <table class="table is-narrow is-fullwidth has-valigned-cells">
        <thead>
            <tr>
                <th>{{ 'unit.typ' | trans }}</th>
                <th>{{ 'unit.costs' | trans }}</th>
                <th class="has-text-centered">
                    <span class="icon has-text-primary"><i class="fab fa-fort-awesome"></i></span>
                </th>
                <th class="has-text-centered">
                    <span class="icon has-text-primary"><i class="fas fa-clock"></i></span>
                </th>
                <th class="has-text-centered">{{ 'unit.order' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
                {% set isUnitInProduction = currentPlayer.isUnitInConstruction(unit) %}
                <tr>
                    <td>
                        {{ unit.getName | trans }}
                    </td>
                    <td nowrap>
                        <span class="icon"><i class="fas fa-hammer has-text-primary"></i></span>
                        <span>{{ unit.getMetalCost | number }}</span><br>
                        <span class="icon"><i class="fas fa-gem  has-text-primary"></i></span>
                        <span>{{ unit.getCrystalCost | number }}</span>
                    </td>
                    <td class="has-text-centered">
                        {{ currentPlayer.getUnitQuantityOf(unit) | number }}
                    </td>
                    <td class="has-text-centered" nowrap>
                        {% if isUnitInProduction %}
                            {{ currentPlayer.getPlayerUnitConstructionOf(unit).getTicksLeft }} ({{ unit.getTicksToBuild }})
                        {% else %}
                            {{ unit.getTicksToBuild }}
                        {% endif %}
                    </td>
                    <td class="has-text-centered">
                        {% if isUnitInProduction %}
                            {% set progress = currentPlayer.getPlayerUnitConstructionOf(unit).calculateProgress() %}
                            <div class="progress-container" data-text="{{ progress }}% ({{ currentPlayer.getPlayerUnitConstructionOf(unit).getQuantity }})">
                                <progress class="progress is-primary" value="{{ progress }}" max="100"></progress>
                            </div>
                        {% else %}
                            <div class="field has-addons has-addons-right">
                                <p class="control">
                                    <input id="qty_{{ unit.getUnitId }}" value="{{ currentPlayer.calculateMaxUnits(unit) }}" class="input has-length-small" type="text" placeholder="{{ 'unit.production' | trans }}">
                                </p>
                                <p class="control">
                                    <a class="button is-primary single-submit" data-identifier="{{ unit.getUnitId }}" data-action="{{ url('player.unit.build') }}" data-submit-value="#qty_{{ unit.getUnitId }}">
                                        <span class="icon"><i class="fas fa-cogs"></i></span>
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>