<div class="table-container">
    <table class="table is-fullwidth has-valigned-cells">
        <thead>
            <tr>
                <th>{{ 'player.fleet.unit.name' | trans }}</th>
                {% for key,playerFleet in playerFleetsOrbitAndMovable %}
                    <th>
                        {% if playerFleet.isOrbit %}
                            {{ 'player.fleet.orbit' | trans }}
                        {% else %}
                            {{ 'player.fleet' | trans | format(key) }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for unit in movableUnits %}
                <tr>
                    <td>
                        {{ unit.getName | trans }}
                    </td>
                    {% for playerFleet in playerFleetsOrbitAndMovable %}
                        <td>
                            {{ playerFleet.getUnitQuantityOf(unit) | number }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
