{% extends "@App/layout/account-layout.twig" %}

{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title is-2">{{ 'universe.welcome' | trans |format(currentUser.getName) }}</h1>
            <h2 class="subtitle">{{ 'universe.dashboard.description' | trans }}</h2>
        </div>
    </section>

    {% if playableUniverses | length > 0 %}
        <section class="section">
            <div class="container">
                <h2 class="title">{{ 'universe.my.universes' | trans }}</h2>
                <div class="columns is-desktop">
                    {% for universe in playableUniverses %}
                        <div class="column">
                            {% include '@Universe/partial/universe-card.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if joinableUniverses | length > 0 %}
        <section class="section">
            <div class="container">
                <h3 class="title">{{ 'universe.joinable' | trans }}</h3>
                <div class="columns is-desktop">
                    {% for universe in joinableUniverses %}
                        <div class="column">
                            {% include '@Universe/partial/universe-card.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if closedUniverses | length > 0 %}
        <section class="section">
            <div class="container">
                <h1 class="title">{{ 'universe.closed' | trans }}</h1>
                <div class="columns is-desktop">
                    {% for universe in closedUniverses %}
                        <div class="column">
                            {% include '@Universe/partial/universe-card.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
