<aside class="menu">
    <p class="menu-label is-hidden-desktop">{{ 'player.nav.user' | trans }}</p>
    <ul class="menu-list is-hidden-desktop">
        <li>
            <a href="{{ url('universe.select') }}">
                <span class="icon"><i class="fas fa-home has-text-primary"></i></span>
                <span>{{ 'app.home' | trans }}</span>
            </a>
        </li>
        {% for player in currentUser.getPlayers() %}
            <li>
                <a href="{{ url('player.overview', {'universe' : player.getUniverse.getRouteName}) }}">
                    <span class="icon"><i class="fas fa-atom has-text-primary"></i></span>
                    <span>{{ player.getUniverse.getName }}</span>
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ url('user.logout') }}">
                <span class="icon"><i class="fas fa-sign-out-alt has-text-primary"></i></span>
                <span>{{ 'app.logout' | trans }}</span>
            </a>
        </li>
    </ul>
</aside>