<nav class="navbar is-primary" role="navigation">
    <div class="navbar-brand left-burger">
        <a class="navbar-item navbar-burger burger toggle-id-1 is-hidden-desktop" role="button">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <p class="navbar-item">
            <img src="/assets/images/logo/atomic_white_small.png" alt="{{ 'app.galactic.conquest' | trans }}" >
        </p>
        <p class="navbar-item">
            <span>{{ currentUser.getName }}</span>
        </p>
    </div>

    <div class="navbar-menu is-hidden-mobile">
        <div class="navbar-end">
            <a class="navbar-item" href="{{ url('universe.select', {'locale': 'de'}) }}">
                <figure class="image">
                    <img class="is-rounded" src="/assets/images/flags/de-DE.png" alt="{{ 'app.de-DE' | trans }}" >
                </figure>
            </a>
            <a class="navbar-item" href="{{ url('universe.select', {'locale': 'en'}) }}">
                <figure class="image">
                    <img class="is-rounded" src="/assets/images/flags/en_EN.png" alt="{{ 'app.en_EN' | trans }}" >
                </figure>
            </a>
            {% for player in currentUser.getPlayers() %}
                <a class="navbar-item is-hoverable" href="{{ url('player.overview', {'universe' : player.getUniverse.getRouteName}) }}">
                    <span class="icon"><i class="fas fa-atom"></i></span>
                    <span>{{ player.getUniverse.getName }}</span>
                </a>
            {% endfor %}

            <a class="navbar-item is-hoverable" href="{{ url('universe.select') }}">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span>{{ 'app.home' | trans }}</span>
            </a>
            <a class="navbar-item" href="{{ url('user.logout') }}">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span>{{ 'app.logout' | trans }}</span>
            </a>
        </div>
    </div>
</nav>