<nav class="navbar is-primary" role="navigation">
    <div class="navbar-brand left-burger">
        <a class="navbar-item navbar-burger burger toggle-id-1 is-hidden-desktop" role="button">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <p class="navbar-item">
            <span class="icon"><i class="fas fa-industry"></i></span>
            <span>{{ currentPlayer.getMetal | number }}</span>
        </p>
        <p class="navbar-item">
            <span class="icon"><i class="fas fa-gem"></i></span>
            <span>{{ currentPlayer.getCrystal | number }}</span>
        </p>
        <p class="navbar-item">
            <span class="icon"><i class="fas fa-medal"></i></span>
            <span>{{ currentPlayer.getRankingPosition | number }}</span>
        </p>
        <p class="navbar-item is-hidden-mobile">
            <span class="icon"><i class="fas fa-star"></i></span>
            <span>{{ currentPlayer.getPoints | number }}</span>
        </p>
        <p class="navbar-item is-hidden-mobile">
            <span class="icon"><i class="fas fa-bolt"></i></span>
            <span>{{ currentUniverse.getNextTick | time }}</span>
        </p>
    </div>

    <div class="navbar-menu is-hidden-mobile">
        <div class="navbar-end">
            {% for player in currentUser.getPlayers() %}
                <a class="navbar-item is-hoverable" href="{{ url('player.overview', [player.getUniverse.getRouteName]) }}">
                    <span class="icon"><i class="fas fa-user-astronaut" aria-hidden="true"></i></span>
                    <span>{{ player.getUniverse.getName }}</span>
                </a>
            {% endfor %}

            <a class="navbar-item is-hoverable" href="{{ url('universe.select') }}">
                <span class="icon"><i class="fas fa-atom" aria-hidden="true"></i></span>
                <span>{{ 'app.home' | trans }}</span>
            </a>
            <a class="navbar-item" href="{{ url('user.logout') }}">
                <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                <span>{{ 'app.logout' | trans }}</span>
            </a>
        </div>
    </div>
</nav>