<nav class="navbar is-primary" role="navigation">
    <div class="navbar-brand left-burger">
        <a class="navbar-item navbar-burger burger toggle-id-1 is-hidden-desktop" role="button">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <p class="navbar-item">
            <span class="icon"><i class="fas fa-hammer"></i></span>
            <span>{{ currentPlayer.getMetal | number }}</span>
        </p>
        <p class="navbar-item">
            <span class="icon"><i class="fas fa-gem"></i></span>
            <span>{{ currentPlayer.getCrystal | number }}</span>
        </p>
        <p class="navbar-item">
            <span class="icon"><i class="fas fa-medal"></i></span>
            <span>{{ currentPlayer.getRankingPosition | number }}</span>
        </p>
        <p class="navbar-item is-hidden-mobile">
            <span class="icon"><i class="fas fa-star"></i></span>
            <span>{{ currentPlayer.getPoints | number }}</span>
        </p>
        <p class="navbar-item is-hidden-mobile">
            <span class="icon"><i class="fas fa-bolt"></i></span>
            <span class="countdown" data-interval="{{ currentUniverse.getTickInterval }}" data-countdown="{{ currentUniverse.getNextTick | countdown }}"></span>
        </p>
    </div>

    <div class="navbar-menu is-hidden-mobile">
        <div class="navbar-end">
            {% for player in currentUser.getPlayers() %}
                {% if currentUniverse.getUniverseId != player.getUniverse.getUniverseId %}
                    <a class="navbar-item is-hoverable" href="{{ url('player.overview', {'universe' : player.getUniverse.getRouteName}) }}">
                        <span class="icon"><i class="fas fa-atom"></i></span>
                        <span>{{ player.getUniverse.getName }}</span>
                    </a>
                {% endif %}
            {% endfor %}

            <a class="navbar-item is-hoverable" href="{{ url('universe.select') }}">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span>{{ 'app.home' | trans }}</span>
            </a>
            <a class="navbar-item" href="{{ url('user.logout') }}">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span>{{ 'app.logout' | trans }}</span>
            </a>
        </div>
    </div>
</nav>