<aside class="menu has-padding-t-1 has-margin-b-5">
    <p class="menu-label is-hidden-desktop has-padding-l-5">{{ 'player.nav.user' | trans }}</p>
    <ul class="menu-list is-hidden-desktop">
        <li>
            <a class="has-padding-l-3" href="#start">
                <span class="icon"><i class="fas fa-globe"></i></span>
                <span>{{ 'Start' | trans }}</span>
            </a>
        </li>
        <li>
            <a class="has-padding-l-3" href="#universes">
                <span class="icon"><i class="fas fa-meteor"></i></span>
                <span>{{ 'Universen' | trans }}</span>
            </a>
        </li>
        <li>
            <a class="has-padding-l-3 is-hoverable" href="#game">
                <span class="icon"><i class="fab fa-fulcrum"></i></span>
                <span>{{ 'Facts' | trans }}</span>
            </a>
        </li>
        <li>
            <a class="has-padding-l-3 is-hoverable" href="#halloffame">
                <span class="icon"><i class="fas fa-award"></i></span>
                <span>{{ 'Hall of Fame' | trans }}</span>
            </a>
        </li>
        <li>
            <a class="has-padding-l-3 is-hoverable" href="#support">
                <span class="icon"><i class="far fa-question-circle"></i></span>
                <span>{{ 'Support' | trans }}</span>
            </a>
        </li>
    </ul>
</aside>