<div class="table-container">
    <table class="table is-bordered is-narrow is-fullwidth has-valigned-cells">
        <thead>
            <tr>
                <th>{{ 'galaxy.sector' | trans }}</th>
                <th>{{ 'galaxy.commander' | trans }}</th>
                <th>{{ 'galaxy.points' | trans }}</th>
                <th>{{ 'galaxy.fleet.count' | trans }}</th>
                <th>{{ 'galaxy.defense.count' | trans }}</th>
                <th>{{ 'galaxy.extractors' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for player in currentPlayer.getGalaxy.getPlayers %}
                <tr>
                    <td {% if player.isCommander %}class="has-text-primary"{% endif %}>
                        {{ currentPlayer.getGalaxy.getNumber }}:{{ player.getGalaxyPosition }}
                    </td>
                    <td {% if player.isCommander %}class="has-text-primary"{% endif %}>
                        {{ player.getUser.getName }}
                    </td>
                    <td>
                        {{ player.getPoints | number }}
                    </td>
                    <td>
                        <a href="{{ url('galaxy.tactic.military', [player.getGalaxyPosition]) }}">
                            {{ player.getUnitsMovableQuantity | number }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('galaxy.tactic.military', [player.getGalaxyPosition]) }}">
                            {{ player.getUnitsStationaryQuantity | number }}
                        </a>
                    </td>
                    <td>
                        {{ player.getExtractorMetal | number }} / {{ player.getExtractorCrystal | number }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">{{ 'galaxy.total' | trans }}</td>
                <td>{{ currentPlayer.getGalaxy.calculateTotalPlayerPoints | number }}</td>
                <td>
                    {{ currentPlayer.getGalaxy.calculateUnitsMovableTotalQuantity | number }}
                </td>
                <td>
                    {{ currentPlayer.getGalaxy.calculateUnitsStationaryTotalQuantity | number }}
                </td>
                <td>
                    {{ currentPlayer.getGalaxy.calculateTotalMetalExtractors | number }} / {{ currentPlayer.getGalaxy.calculateTotalCrystalExtractors | number }}
                </td>
            </tr>
            <tr>
                <td colspan="2">{{ 'galaxy.average' | trans }}</td>
                <td>
                    {{ currentPlayer.getGalaxy.getAveragePoints | number }}
                </td>
                <td>
                    {{ currentPlayer.getGalaxy.calculateUnitsMovableAverageQuantity | number }}
                </td>
                <td>
                    {{ currentPlayer.getGalaxy.calculateUnitsStationaryAverageQuantity | number }}
                </td>
                <td>
                    {{ currentPlayer.getGalaxy.calculateAverageMetalExtractors | number }} / {{ currentPlayer.getGalaxy.calculateAverageCrystalExtractors | number }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
