<div class="table-container">
    <table class="table is-bordered is-narrow is-fullwidth has-valigned-cells">
        <thead>
            <tr>
                <th>{{ 'galaxy.sector' | trans }}</th>
                <th>{{ 'galaxy.commander' | trans }}</th>
                <th>{{ 'galaxy.attacking' | trans }}</th>
                <th>{{ 'galaxy.eta' | trans }}</th>
                <th>{{ 'galaxy.defends' | trans }}</th>
                <th>{{ 'galaxy.eta' | trans }}</th>
                <th>{{ 'galaxy.attacked.by' | trans }}</th>
                <th>{{ 'galaxy.eta' | trans }}</th>
                <th>{{ 'galaxy.defended.by' | trans }}</th>
                <th>{{ 'galaxy.eta' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for player in currentPlayer.getGalaxy.getPlayers %}
                <tr>
                    <td {% if player.isCommander %}class="has-text-primary"{% endif %} nowrap>
                        {{ currentPlayer.getGalaxy.getNumber }}:{{ player.getGalaxyPosition }}
                    </td>
                    <td {% if player.isCommander %}class="has-text-primary"{% endif %} nowrap>
                        {{ player.getUser.getName }}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsAttackingOriginalOrRecalling %}
                            <span class="has-no-wrap">
                                {% if playerFleet.isRecalling %}
                                    ({{ 'galaxy.recalling' | trans }})
                                {% endif %}

                                <a href="{{ url('galaxy.galaxies',[playerFleet.getTargetPlayer.getGalaxy.getNumber]) }}">
                                    {{  playerFleet.getTargetPlayer.getGalaxy.getNumber }}
                                    :{{ playerFleet.getTargetPlayer.getGalaxyPosition }}
                                    {{ playerFleet.getTargetPlayer.getUser.getName }}
                                </a>
                            </span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsAttackingOriginalOrRecalling %}
                            <span class="has-no-wrap">{{ playerFleet.getTicksLeftUntilMissionReach }}</span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsDefendingOriginalOrRecalling %}
                            <span class="has-no-wrap">
                                {% if playerFleet.isRecalling %}
                                    ({{ 'galaxy.recalling' | trans }})
                                {% endif %}

                                <a href="{{ url('galaxy.galaxies',[playerFleet.getTargetPlayer.getGalaxy.getNumber]) }}">
                                    {{  playerFleet.getTargetPlayer.getGalaxy.getNumber }}
                                    :{{ playerFleet.getTargetPlayer.getGalaxyPosition }}
                                    {{ playerFleet.getTargetPlayer.getUser.getName }}
                                </a>
                            </span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsDefendingOriginalOrRecalling %}
                            <span class="has-no-wrap">{{ playerFleet.getTicksLeftUntilMissionReach }}</span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsWhichAreAttackingThisPlayer %}
                            <span class="has-no-wrap">
                                <a href="{{ url('galaxy.galaxies',[playerFleet.getTargetPlayer.getGalaxy.getNumber]) }}">
                                    {{  playerFleet.getTargetPlayer.getGalaxy.getNumber }}
                                    :{{ playerFleet.getTargetPlayer.getGalaxyPosition }}
                                    {{ playerFleet.getTargetPlayer.getUser.getName }}
                                </a>
                            </span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsWhichAreAttackingThisPlayer %}
                            <span class="has-no-wrap">{{ playerFleet.getTicksLeftUntilMissionReach }}</span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsWhichAreDefendingThisPlayer %}
                            <span class="has-no-wrap">
                                <a href="{{ url('galaxy.galaxies',[playerFleet.getTargetPlayer.getGalaxy.getNumber]) }}">
                                    {{  playerFleet.getTargetPlayer.getGalaxy.getNumber }}
                                    :{{ playerFleet.getTargetPlayer.getGalaxyPosition }}
                                    {{ playerFleet.getTargetPlayer.getUser.getName }}
                                </a>
                            </span><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for playerFleet in player.getPlayerFleetsWhichAreDefendingThisPlayer %}
                            <span class="has-no-wrap">{{ playerFleet.getTicksLeftUntilMissionReach }}</span><br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>