<div class="table-container">
    <table class="table is-narrow is-fullwidth">
        <tbody>
            <tr>
                <th>#</th>
                <th>{{ 'universe.ranking.alliance.name' | trans }} </th>
                <th>{{ 'universe.ranking.alliance.code' | trans }} </th>
                <th>{{ 'universe.ranking.alliance.average' | trans }} </th>
                <th class="is-hidden-mobile">{{ 'universe.ranking.alliance.members' | trans }} </th>
            </tr>
            {% for alliance in allianceRankings %}
                {% if player.getGalaxy.hasAlliance and currentPlayer.getGalaxy.hasAlliance %}
                    <tr {% if player.getGalaxy.getAlliance.getAllianceId == currentPlayer.getGalaxy.getAlliance.getAllianceId %}class="is-selected"{% endif %}>
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ alliance.getRankingPosition }}</td>
                    <td>{{ alliance.getName }}</td>
                    <td>{{ alliance.getCode }}</td>
                    <td>{{ alliance.getAveragePoints | number }}</td>
                    <td class="is-hidden-mobile">{{ alliance.getPlayerCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>