<div class="table-container">
    <table class="table is-narrow is-fullwidth">
        <tbody>
            <tr>
                <th>{{ 'universe.ranking.alliance.ranking' | trans }}</th>
                <th>{{ 'universe.ranking.alliance.name' | trans }} </th>
                <th>{{ 'universe.ranking.alliance.code' | trans }} </th>
                <th>{{ 'universe.ranking.alliance.average' | trans }} </th>
                <th>{{ 'universe.ranking.alliance.members' | trans }} </th>
            </tr>
            {% for alliance in allianceRankings %}
                <tr>
                    <td>{{ alliance.getRankingPosition }}</td>
                    <td>{{ alliance.getName }}</td>
                    <td>{{ alliance.getCode }}</td>
                    <td>{{ alliance.getAveragePoints | number }}</td>
                    <td>{{ alliance.getPlayerCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>